<form name="AddStu" role="form" style="margin-top:50px;">
    <div class="form-group">
        <label for="inpFirstName">First Name</label>
        <input type="text" ng-model="student.FirstName" class="form-control" name="fname" required />
        <span style="color:red" ng-show="AddStu.fname.$dirty && AddStu.fname.$invalid">
            <span ng-show="AddStu.fname.$error.required">Student First name is required</span>
        </span>
    </div>
    <div class="form-group">
        <label for="inpLastName">Last Name</label>
        <input type="text" ng-model="student.LastName" class="form-control" name="lname" required />
        <span style="color:red" ng-show="AddStu.lname.$dirty && AddStu.lname.$invalid">
            <span ng-show="AddStu.lname.$error.required">Student First name is required</span>
        </span>
    </div>  
    <div class="form-group">
        <label for="inpLastName">Age</label>
        <input id="inpAge" type="text" class="form-control" ng-model="student.Age" name="age" ng-pattern="pattern" />
        <span style="color:red" ng-show="AddStu.age.$dirty && AddStu.age.$invalid">
            <span ng-show="AddStu.age.$error.required">Age is required</span>
            <span ng-show="AddStu.age.$error.pattern">Age must be positive numer</span>
        </span>
    </div>  
    <div class="form-group">
        <label for="inpGender">Gender :</label>
        <label id="inpGender" ng-repeat="Gender in genders">
            <input type="radio" ng-model="student.Gender" ng-value="Gender" />{{Gender}}
        </label>
    </div>      
</form>
<input type="submit" id="btnAddStudent" class="btn btn-primary"
       value="Add Student" ng-click="Add()"
       ng-distable="AddStu.fname.$dirty && AddStu.fname.$invalid">