<div>
    <div>
        <br /><br />
        <div class="col-md-4 col-md-offset-7"><b><a href="#/addstu">Add New Student</a></b></div>
        <br />
        <table>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
            <tbody>
                <tr ng-repeat="item in students">
                    <td><b><a href="#/studetails/{{item.ID}}">{{item.ID}}</a></b></td>
                    <td>{{item.FirstName}}</td>
                    <td>{{item.LastName}}</td>
                    <td>{{item.Age}}</td>
                    <td>{{item.Gender}}</td>
                    <td><input type="button" class="btn btn-danger btn-xs" 
                        value="[x] delete" ng-click="Remove(item.ID)" />                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>